.reset-password-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    
  }
  
  .reset-password-form h2 {
    margin-bottom: 20px;
  }
  
  .reset-password-form input {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  .reset-password-form button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-password-form button:hover {
    background-color: #0056b3;
  }
  