/* Define styles for dashboard container */
.dashboard-container {
    font-family: Arial, sans-serif;
    width: 90vw;
    margin-top: 1vh; /* Odsazení obsahu o výšku záhlaví */
    padding-top: 10vh; /* Odsazení obsahu o výšku záhlaví */
    position: relative; /* Nastavení relativní polohy pro správné umístění obsahu pod záhlavím */
    z-index: 1; /* Zajištění, aby byl pod záhlavím */
}

/* Define styles for dashboard header */
.dashboard-header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Zarovnání obsahu na střed */
}

/* Define styles for dashboard footer */
.dashboard-footer {
    padding: 20px;
    position: absolute; /* Pevné umístění ve spodní části */
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}

/* Define styles for dashboard main */
.dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Define styles for dashboard section */
.dashboard-section {
    width: 100%;
    max-width: 600px; /* Přizpůsobení šířky podle potřeby */
    border: 1px solid #ccc; /* ohraničení */
    border-radius: 5px; /* zaoblené rohy */
    padding: 20px; /* vnitřní odsazení */
    margin-bottom: 20px; /* mezera mezi bloky */
}

/* Define styles for buttons */
.button {
    margin-top: 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}

.button:hover {
    background-color: #c62828;
}
